#albumId{
  text-align: center;
  margin :0px auto;
  color: darkblue;
  font-weight: bold;
}
#title{
  text-align: center;
  margin :0px auto;
  color: darkred;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); 
  }
}
#photo{
margin: 0px auto;
color:darkgreen;
font-weight: bold;
}